<%- include('base') %>

<div class="content">
  <div class="form-container">
    <form method="POST" action="">

      
      <div class="form-control">
        <h3>Join today</h3>

        <label for="">Enter your full name</label>
        <input type="text" placeholder="Enter your username...">
    
        <label for="">Enter your username</label>
        <input type="text" placeholder="Enter your username...">

        <label for="">Enter your email</label>
        <input type="text" placeholder="Enter your email...">

        <label for="">Profile Picture</label>
        <input type="file">
        <br> <br>

        <label for="">Create a password</label>
        <input type="password">

        <label for="">Confirm password</label>
        <input type="password">
      </div>
    
      <button class="btn">Sign Up</button>
    
      <p class="text">Already Have an account? <a href="/login">Sign In</a> </p>
    </form>
  </div>
</div>

